@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');


* {
    font-family: 'Work Sans', Sans-Serif;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

body{
    margin: 0px;
    background-color: hsl(0, 0%, 98%);
}

._navbar{
    display: flex;
    height: 4.8em;
    background-color: hsl(0, 0%, 100%);
    padding-left: 8em;
    padding-right: 8em;
}

._navbar_brand{
    align-self: center;
}

._nav_links{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-grow: 1;
}

._nav_link{
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: middle;
    color: hsl(233, 8%, 62%);
}

._nav_link:hover{
    color: hsl(233, 26%, 24%);
}

._navlist_toggler{
    display: none;
    outline: none;
    color: #000;
}

.stroke-current{
    stroke: currentColor;
}

._navlist_toggler:focus{
    outline: 0;
}

._nav_call_to_action{
    align-self: center;
    justify-content: center;
    background-color: hsl(136, 65%, 51%);
    padding: .8em;
    border-radius: 2em;
    color: white !important;
    text-decoration: none !important;
    font-weight: 400;
}

._nav_call_to_action:hover{
    color: white !important;
}

._nav_call_to_action:focus{
    outline: none;
}

._hero{
    display: flex;
    flex-direction: row;
    width: auto;
}

._side-left{
    width: 50%;
    padding-left: 8em;
    padding-right: 2em;
    padding-top: 10em;
}

._side-left > h3{
    font-weight: 500;
    font-size: 5em;
}

._side-left > p{
    font-size: 2.5em;
}

._side-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr_img{
    padding: 1em;
    border-radius: 5px;
    background-color: #fff;
    width: 20em;
    height: 20em;
    border: 0px solid transparent !important;
    outline: none;
}

._side-right{
    justify-content: center;
}

.attribution{
    background-color: #fff;
    position: fixed;
    padding: 1em;
    bottom: 0px;
    right: 20px;
    border-radius: 1em;
    box-shadow: 0px 0px 8px #999999;
}

@media(max-width: 1280px){
    
}

@media(max-width: 1024px){
    ._navbar{
        padding-left: 3em;
        padding-right: 3em;
    }
    
    ._nav_link{
        margin-left: 0.4em;
        margin-right: 0.4em;
    }
    
    
    ._side-left{
        width: 50%;
        padding-left: 4em;
        padding-right: 2em;
        padding-top: 8em;
    }
    
    ._side-left > h3{
        font-weight: 500;
        font-size: 3em;
    }
    
    ._side-left > p{
        font-size: 1.5em;
    }
    
        
    #qr_img{
        padding: 1em;
        border-radius: 5px;
        background-color: #fff;
        width: 12em;
        height: 12em;
        border: 0px solid !important;
    }

}

@media(max-width: 768px){
    ._navbar{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    ._nav_links{
        display: flex;
    }
    
    ._nav_link{
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
    
    ._hero{
        flex-direction: column;
    }
    
    ._side-left{
        width: 100%;
        padding-left: 1.5em;
        padding-top: 4em;
        margin-bottom: 3em;
    }
    
    ._side-right{
        width: 100%;
    }
    
    .attribution{
        position: initial;
        margin-top: 2em;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000;
        background-color: transparent;
        width: 100%;
        text-align: center;
    }
    
    ._side-left > h3{
        font-weight: 500;
        font-size: 3em;
    }
    
    ._side-left > p{
        font-size: 1.5em;
    }
        
    #qr_img{
        padding: 1em;
        border-radius: 8px;
        background-color: #fff;
        width: 80%;
        height: 80%;
        border: 0px solid !important;
        justify-self: center;
        align-self: center;
    }

}

@media(max-width: 640px){
    ._navbar{
        display: block;
        padding-top: 1.7em;
        height: auto;
        padding-bottom: 1.7em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    ._nav_links{
        padding-top: 2em;
        display: none;
    }
    
    ._nav_links > li{
        padding-top: .4em;
        padding-bottom: .4em;
    }
    
    ._nav_call_to_action{
        /* display: none; */
        font-size: 0.8em;
    }
    
    ._navlist_toggler{
        display: initial;
        float: right;
    }
    
    #gen_btn{
        width: 100%;
        margin-top: 1em;
    }
}